// Theme 1

$mainBackground: hsl(222, 26%, 31%);
$screenBackground: hsl(224, 36%, 15%);

$toogleBackground: hsl(223, 31%, 20%);
$keypadBackground: hsl(223, 31%, 20%);

$toogleSwitcherKeyBackground: hsl(6, 63%, 50%);

$keyBackground1: hsl(30, 25%, 89%);
$keyBackground2: hsl(225, 21%, 49%);
$keyBackground3: hsl(6, 63%, 50%);

$keyShadow1: hsl(224, 28%, 35%);
$keyShadow2: hsl(6, 70%, 34%);
$keyShadow3: hsl(28, 16%, 65%);

$toogleSwitcherBackgroundHover: hsl(6, 63%, 60%);
$keyBackground1Hover: hsl(30, 25%, 100%);
$keyBackground2Hover: hsl(225, 21%, 70%);
$keyBackground3Hover: hsl(6, 63%, 65%);



// Theme 2

$mainBackgroundTheme2:hsl(0, 0%, 90%);
$toogleBackgroundTheme2: hsl(0, 5%, 81%);
$screenBackgroundTheme2: hsl(0, 0%, 93%);

$toogleSwitcherKeyBackground2Theme2: hsl(25, 98%, 40%);

$keyBackground1Theme2: hsl(185, 42%, 37%);
$keyBackground3Theme2: hsl(45, 7%, 89%);

$keyShadow1Theme2: hsl(185, 58%, 25%);
$keyShadow2Theme2: hsl(25, 99%, 27%);
$keyShadow3Theme2: hsl(35, 11%, 61%);

$text1Theme2:  hsl(221, 14%, 31%);

$keyBackground1Theme2Hover: hsl(185, 42%, 60%);
$keyBackgroundTheme2Hover: hsl(25, 98%, 60%);



// Theme 3 

$mainBackgroundTheme3: hsl(268, 75%, 9%);
$toogleKeypadScreenTheme3: hsl(268, 71%, 12%);

$toogleSwitcherKeyBackground3: hsl(176, 100%, 44%);

$keyBackground1Theme3: hsl(281, 89%, 26%);
$keyBackground3Theme3: hsl(268, 47%, 21%);

$keyShadow1Theme3: hsl(285, 91%, 52%);
$keyShadow2Theme3: hsl(177, 92%, 70%);
$keyShadow3Theme3: hsl(290, 70%, 36%);

$text1Theme3: hsl(52, 100%, 62%);
$text2Theme3: hsl(0, 0%, 100%);
$text3Theme3: hsl(198, 20%, 13%);

$keyBackground1Theme3Hover: hsl(268, 47%, 50%);
$keyBackground2Theme3Hover: hsl(281, 89%, 45%);
$keyBackground3Theme3Hover: hsl(176, 100%, 80%);

$keyShadow1Theme3Hover: hsl(285, 91%, 60%);